#container {
    position: relative;
    width: 100%; /* 讓容器寬度與螢幕寬度一致 */
    padding-top: 75%; /* 設定為寬高比 4:3 的比例，例如640x480 */
    overflow: hidden;
    margin: auto;
}

video, canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* 讓video和canvas填滿容器 */
    height: 100%;
    object-fit: cover; /* 確保不會因為容器比例而變形 */
}

/* 響應式設計：針對小於 768px 寬的設備調整設定 */
@media (max-width: 768px) {
    #container {
        padding-top: 56.25%; /* 調整比例為16:9的場景 */
    }
}
