#container {
    position: relative;
    width: 480px; /* 適合桌面的寬度 */
    height: 240px; /* 適合桌面的高度 */
    overflow: hidden;
    margin: auto;
}

video, canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 640px;
    height: 480px;
    transform: translate(-50%, -50%);
}

/* 響應式設計：針對小於 768px 寬的設備調整設定 */
@media (max-width: 768px) {
    #container {
        width: 100%; /* 在小屏幕上容器寬度為 100% */
        height: auto; /* 高度自動調整保持比例 */
        padding-top: 37.5%; /* 8:3 比例 */
    }

    video, canvas {
        width: 853px; /* 調整視頻尺寸以填滿容器 */
        height: 480px;
    }
}
